/*  顶部广告栏 */
.top_banner{
    height: 90px;
    width: 100%;
    position: relative;
}
.top_banner a{
    display: block;
    height: 100%;
    width: 100%;
}
.top_banner a img{
    width: 100%;
    height: 100%;
}
.top_banner span{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    text-align: center;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    top: 10px;
    right: calc(50% - 600px);
}
/* 背景轮播图 */
#banner{
    height: 550px;
    width: 100%;
    position: relative;
}
#banner .imgbox{
    height: 100%;
    overflow: hidden;
}
#banner .imgbox li{
    float: left;
    display: none;
    height: 100%;
}
#banner .imgbox .firstimg{
    display: block;
}
#banner .imgbox li a{
    float: left;
    height: 100%;
}
#banner .imgbox li a img{
    width: 100%;
    height: 100%;
}
#banner .prev,#banner .next{
    position: absolute;
    cursor: pointer;
    top: 199px;
    width: 80px;
    height: 80px;
    z-index: 5;
}
#banner .prev{
    left: calc(50% - 392px);
}
#banner .next{
    left: calc(50% + 528px);
}
#banner .prev i,#banner .next i{
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    line-height: 56px;
    text-align: center;
    font-size: 26px;
    color: #fff;
    background: rgba(0,0,0,0.1);
}
#banner .prev i:hover,#banner .next i:hover{
    background: rgba(0,0,0,0.3);
}
#banner ol{
    position: absolute;
    left: calc(50% + 505px);
    bottom: 50px;
}
#banner ol li{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-left: 7px;
    float: left;
    border: 1px solid #fff;
}
#banner ol li.current{
    background: #fff;
}
/* 背景图遮罩层 */
#banner .mask{
    text-align: center;
    width: 100%;
    min-width: 1200px;
    height: 72px;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
#banner .mask span{
    width: 100%;
    min-width: 1200px;
    height: 72px;
    display: block;
    background: url(https://res8.vmallres.com/20201208/css/../images/echannel/bg/bg-slide.png) no-repeat;
    background-size: 100% 72px;
}
/* 主体内容 */
#main{
    min-width: 1200px;
}
.m_inner{
    position: relative;
    min-height: 200px;
}
/* 侧边清单 */
.m_inner .left_list{
    position: absolute;
    width: 200px;
    height: 440px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    border-radius: 10px;
    left: 0;
    top: -532px;
    cursor: pointer;
    z-index: 20;
}
.m_inner .left_list>ul{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.m_inner .left_list>ul>li{
    padding-left: 16px;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    color: #848484;
    background:#f9f9f9;
    /* background: #fff; */
    /* background: rgba(255,255,255,0.7); */
    /* z-index: 40; */
}
.m_inner .left_list>ul>li i{
    float: right;
    margin-right: 20px;
    font-size: 20px;
}
.m_inner .left_list>ul>li:hover{
    background: rgba(255,255,255,1)!important;
    background: #fff;
}
.m_inner .left_list>ul:hover{
    border-radius: 10px 0 0 10px;
}
.left_list>ul>li>.pros{
    position: absolute;
    top: 0;
    left: 200px;
    height: 440px;
    width: 516px;
    text-align: center;
    background: #fff;
    padding: 20px 0 0 32px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 46px rgba(0,0,0,0.1);
    z-index: 99;
    display: none;
}
.pros .subcate-list{
    width: 242px;
    height: 100%;
    margin: 0;
    float: left;
}
.pros .subcate-list li{
    margin-bottom: 25px;
}
.pros .subcate-list li a {
    display: block;
    width: 230px;
    height: 60px;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 0;
}
.pros .subcate-list li a img{
    width: 48px;
    height: 48px;
    float: left;
    vertical-align: middle;
    margin: 0 8px 0 12px;
}
.pros .subcate-list li a p{
    height: 34px;
    line-height: 17px;
    position: relative;
    top: 14px;
    text-align: left;
    vertical-align: middle;
    float: left;
    color: #666;
    font-size: 14px;
    width: 150px;
}
.pros .subcate-list li a p span{
    line-height: 17px;
    font-size: 16px;
    vertical-align: middle;
}
.pros .subcate-list .subcate-btn a{
    width: 112px;
    height: 42px;
    line-height: 42px;
    margin-top: 8px;
    margin-left: 36px;
    border: 1px solid #f2f2f2;
    border-radius: 0 22px 22px 0;
    font-size: 13px;
    color: #999;
    display: block;
    position: relative;
    text-indent: 34px;
}
.pros .subcate-list .subcate-btn a::before{
    content: "";
    width: 42px;
    height: 42px;
    background: #fff;
    border: 1px solid #f2f2f2;
    display: block;
    border-radius: 22px;
    position: absolute;
    top: -1px;
    left: -22px;
}
.pros .subcate-list .subcate-btn a::after{
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #c0c0c0;
    position: absolute;
    top: 16px;
    left: -1px;
}





/* 背景图下登录注册和导航栏 */
.m_inner .list_box{
    height: 88px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    top: -72px;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 26px rgba(0,0,0,0.07);
    z-index: 22;
}
.list_box .box_left{
    float: left;
    width: 270px;
    height: 55px;
    margin-top: 17px;
    border-right: 1px solid #eee;
}
.list_box .box_left .unlogin{
    padding-left: 26px;
    text-align: left;
}
.box_left  .unlogin .un_pic{
    width: 52px;
    height: 52px;
    margin-right: 17px;
    float: left;
}
.box_left  .unlogin .un_pic img{
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
.box_left  .unlogin .un_txt{
    float: left;
    text-align: left;
}
.un_txt .un_top{
    margin-top: 1px;
    font-size: 14px;
    color: #999;
}
.un_txt .un_top a,.un_txt .un_top span{
    color: #333;
}
.un_txt .un_top a:hover{
    color: #de5b60;
}
.un_txt .un_bottom{
    margin-top: 6px;
}
.un_txt .un_bottom .fl1{
    display: inline-block;
    width: 68px;
    height: 22px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #e47b7f;
    color: #de5b60;
    margin-right: 8px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}
.un_txt .un_bottom .fl1:hover{
    color: #fff;
    background: #e47b7f;
}
.un_txt .un_bottom .fl2{
    display: inline-block;
    width: 68px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background: #595454;
    color: #fde4b3;
    border-radius: 5px;
    font-size: 13px;
}
.un_txt .un_bottom .fl2:hover{
    background: #333;
}
.list_box .box_center{
    width: 660px;
    height: 64px;
    margin-top: 17px;
    float: left;
}
.list_box .box_center>ul{
    width: 100%;
    height: 100%;
    text-align: center;
}
.list_box .box_center>ul li{
    float: left;
    width: 104px;
}
.list_box .box_center>ul li a{
    text-align: center;
    display: block;
    width: 100%;
    min-width: 48px;
    max-width: 84px;
    margin: 0 auto;
    color: #3a3a3a;
}
.list_box .box_center>ul li a .p_img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.box_center>ul li a .p_img img{
    position: absolute;
    width: auto;
    height: auto;
    transform: scale(0.5,0.5);
    top: -20px;
    left: -150px;
}
.p_img .img2{
    left: -190px;
}
.box_center>ul li a .p_dec{
    line-height: 24px;
    width: 100%;
    color: #777;
}
.box_center>ul li:hover a .p_dec{
    color: #de5b60;
}
.list_box .box_right{
    width: 267px;
    height: 88px;
    border-left: 1px solid #eee;
    float: left;
}
.list_box .box_right .announcement{
    height: 44px;
    border-bottom: 1px solid #eee;
}
.box_right .announcement .left{
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 8px 0 17px;
}
.box_right .announcement .right{
    height: 43px;
    width: 190px;
    overflow: hidden;
    text-align: left;
    position: relative;
}
.box_right .announcement .right ul{
    height: 215px;
}
.box_right .announcement .right ul li{
    line-height: 43px;
}
.box_right .announcement .right ul li:hover a{
    color: #de5b60;
}

.box_right .p_info li{
    float: left;
    height: 42px;
    line-height: 42px;
    width: 89px;
}
.box_right .p_info li a{
    display: block;
    color: #666;
    text-align: center;
}
.box_right .p_info li a span{
    margin-right: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 5px;
    position: relative;
    overflow: hidden;
}
.box_right .p_info li a span img{
    width: auto;
    height: auto;
    position: absolute;
    transform: scale(0.5,0.5);
    top: -20px;
    left: -390px;
}
.box_right .p_info li a:hover{
    color: #de5b60;
}
/* 公告下面的广告商品 */
.under_list_promo{
    height: 200px;
    margin-top: -54px;
    margin-bottom: 13px;
}
.under_list_promo ul li{
    float: left;
    margin-left: 13px;
    width: 290px;
    height: 200px;
    border-radius: 7px;
    overflow: hidden;
    margin-top: -54px;
    transition: all 0.2 linear;
}
.under_list_promo ul .lisirst{
    margin: 0 1px 0 0;
}
.under_list_promo ul li a{
    display: block;
   height: 200px;
}
.under_list_promo ul li a img{
    width: 290px;
    height: 200px;
    border-radius: 10px;
}
.under_list_promo ul li:hover{
    box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}
/* 热销单品 */
.title1{
    height: 66px;
    font-size: 26px;
    color: #333;
    padding: 27px 0 13px 0;
    font-weight: 400;
    line-height: 26px;
}
.hot_item .left_item{
    float: left;
    width: 232px;
}
.hot_item .left_item a{
    display: block;
    width: 230px;
    height: 592px;
    margin-bottom: 12px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2 linear;
}
.hot_item .left_item a img{
    width: 100%;
    height: 100%;
}
.hot_item .left_item a:hover{
    box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}
.hot_item .right_items{
    float: left;
    width: 968px;
}
.hot_item .right_items ul li{
    width: 230px;
    height: 290px;
    background: #f9f9f9;
    border-radius: 10px;
    margin-left: 12px;
    margin-bottom: 12px;
    float: left;
    transition: all 0.2 linear;
}
.hot_item .right_items ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.hot_item .right_items .item_img{
    width: 150px;
    height: 150px;
    margin: 35px auto 0;
}
.hot_item .right_items .item_img img{
    width: 150px;
    height: 150px;
}
.hot_item .right_items ul li a .item_title{
    width: 210px;
    margin: 0 auto;
    margin-top: 12px;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #3a3a3a;
}
.hot_item .right_items ul li a .item_desc{
    color: #777;
    line-height: 18px;
    margin: 2px 30px 7px;
    font-size: 12px;
}
.hot_item .right_items ul li a .item_price{
    color: #d0021b;
    line-height: 21px;
    font-size: 14px;
}
.hot_item .right_items ul li:hover{
    box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}
.title2{
    height: 53px;
    padding-top: 27px;
    font-size: 26px;
    line-height: 26px;
    color: #333;
}
.recommend{
    position: relative;
    width: 1210px;
    height: 311px;
    padding-top: 16px;
    margin-bottom: 8px;
    /* background: pink; */
    overflow: hidden;
}
.recommend ul{
    position: absolute;
    left: -5px;
    top: 0;
    width: 3630px;
    height: 311px;
    padding-top: 16px;
}
.recommend i{
    position: absolute;
    width: 36px;
    height: 72px;
    top: 101px;
    background: rgba(0,0,0,0.1);
    text-align: center;
    line-height: 72px;
    font-size: 30px;
    cursor: pointer;
}
.recommend .forword{
    right: 6px;
    border-radius: 8px 0 0 8px;
}
.recommend .back{
    display: none;
    left: 6px;
    border-radius: 0 8px 8px 0;
}
.recommend i:hover{
    background: rgba(0,0,0,0.3);
}
.recommend ul li{
    float: left;
    position: relative;
    width: 242px;
    height: 295px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
}
.recommend ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.recommend ul li a .item_info{
    width: 230px;
    height: 241px;
    margin: 0 auto;
    background: #fff;
    padding-top: 36px;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.06);
}
.recommend ul li a .item_info .item_img{
    margin: 0 auto;
    margin-bottom: 19px;
    width: 150px;
    height: 150px;
}
.recommend ul li a .item_info .item_img img{
    width: 150px;
    height: 150px;
}
.recommend ul li a .item_info .item_desc{
    font-size: 14px;
    line-height: 36px;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 206px;
    width: 230px;
    left: 6px;
    background: #f3f3f3;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recommend ul li a .item_title{
    width: 230px;
    margin: 0 auto;
    margin-top: 9px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 21px;
    font-size: 14px;
    color: #3a3a3a;
}
.recommend ul li a .item_price{
    line-height: 18px;
    color: #d0021b;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recommend ul li a .item_top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.recommend ul li a .item_top span{
    display: inline-block;
    padding: 0 9px;
    margin: 0 auto;
    height: 22px;
    color: #fff;
    background: #ff6a6e;
    border-radius: 0 0 6px 6px;
    line-height: 22px;
}



.banner_slider{
    height: 120px;
    margin-top: 27px;
    margin-bottom: 13px;
}
.banner_slider .warp{
    position: relative;
    height: 120px;
    width: 100%;
    /* margin: 27px 0 13px; */
}
.banner_slider .warp ul{
    height: 100%;
    width: 100%;
}
.banner_slider .warp ul li{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}
.banner_slider .warp ul .firstimg{
    display: block;
}
.banner_slider .warp ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.banner_slider .warp ul li a img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.banner_slider .warp ol{
    position: absolute;
    right: 14px;
    bottom: 8px;
}
.banner_slider .warp ol li{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: 9px;
    float: left;
}
.banner_slider .warp ol li.current{
    background: #fff;
}
.space{
    height: 1px;
}
.title3{
    height: 32px;
    margin-top: 27px;
    margin-bottom: 12px;
    line-height: 32px;
}
.title3 .title_left{
    float: left;
    font-size: 26px;
    color: #333;
}
.title3 .title_nav{
    float: left;
    margin-left: 28px;
}
.title3 .title_nav li{
    float: left;
}
.title3 .title_nav li a{
    font-size: 14px;
    color: #999;
    margin-right: 24px;
}
.title3 .title_nav li:hover a{
    color: #d0021b;
}
.title3 .title_right{
    float: right;  
}
.title3 .title_right a{
    display: block;
    padding: 0 14px;
    font-size: 14px;
    color: #333;
}
.title3 .title_right a span:hover{
    color: #d0021b;
}
/* 手机 */
/* .phone ul li{
    float: left;
    margin-left: 12px;
    margin-bottom: 12px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    width: 230px;
    height: 290px;
    background: #f9f9f9;
    position: relative;
}
.phone ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.phone ul li .item_img{
    width: 150px;
    height: 150px;
    margin: 35px auto 0;
}
.phone ul li .item_img img{
    width: 150px;
    height: 150px;
}
.phone ul li a .item_title{
    width: 210px;
    margin: 0 auto;
    margin-top: 12px;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #3a3a3a;
}
.phone ul li a .item_desc{
    color: #777;
    line-height: 18px;
    margin: 2px 30px 7px;
    font-size: 12px;
}
.phone ul li a .item_price{
    color: #d0021b;
    line-height: 21px;
    font-size: 14px;
}
.phone ul .phone_three a span{
    position: absolute;
    width: 66px;
    height: 22px;
    padding: 0 9px;
    border-radius: 0 0 6px 6px;
    color: #fff;
    background: #ff6a6e;
    line-height: 22px;
    top: 0;
    left: 80px;
} */
.title4{
    margin-top: 27px;
    margin-bottom: 12px;
    line-height: 32px;
    height: 64px;
}
.title4 .message{
    height: 32px;
}
.title4 .message .title_left{
    float: left;
    font-size: 26px;
    color: #333;
}
.title4 .message .title_nav{
    float: left;
    margin-left: 28px;
}
.title4 .message .title_nav li{
    float: left;
}
.title4 .message .title_nav li a{
    font-size: 14px;
    color: #999;
    margin-right: 24px;
}
.title4 .message .title_nav li:hover a{
    color: #d0021b;
}
.title4 .title_right{
    float: right;  
}
.title4 .title_right a{
    display: block;
    padding: 0 14px;
    font-size: 14px;
    color: #333;
}
.title4 .title_right a span:hover{
    color: #d0021b;
}
/* 华为笔记本 */
.product_box ul li{
    float: left;
    margin-left: 12px;
    margin-bottom: 12px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    width: 230px;
    height: 290px;
    background: #f9f9f9;
    position: relative;
}
.product_box ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.product_box ul li .item_img{
    width: 150px;
    height: 150px;
    margin: 35px auto 0;
}
.product_box ul li .item_img img{
    width: 150px;
    height: 150px;
}
.product_box ul li a .item_title{
    width: 210px;
    margin: 0 auto;
    margin-top: 12px;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #3a3a3a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product_box ul li a .item_desc{
    color: #777;
    line-height: 18px;
    margin: 2px 30px 7px;
    font-size: 12px;
}
.product_box ul li a .item_price{
    color: #d0021b;
    line-height: 21px;
    font-size: 14px;
}
.product_box ul li a .top_message{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.product_box ul li a span{
    display: inline-block;
    padding: 0 9px;
    margin: 0 auto;
    height: 22px;
    color: #fff;
    background: #ff6a6e;
    border-radius: 0 0 6px 6px;
    line-height: 22px;
}

.slider{
    position: relative;
    width: 1212px;
    height: 250px;
    padding-top: 10px;
    margin-bottom: 8px;
    overflow: hidden;
}
.slider ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 3900px;
    height: 240px;
}
.slider ul li{
    float: left;
    position: relative;
    width: 202px;
    height: 240px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.slider ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.slider ul li a .item_info{
    width: 190px;
    height: 190px;
    padding-top: 34px;
    background: #f9f9f9;
    box-shadow: none;
    margin: 0 auto;
    border-radius: 10px;
}
.slider ul li a .item_info .item_img{
    width: 120px;
    height: 120px;
    margin-bottom: 0;
    margin: 0 auto;
}
.slider ul li a .item_img img{
    width: 120px;
    height: 120px;
}
.slider ul li a .item_title{
    width: 170px;
    height: 21px;
    line-height: 21px;
    margin: 0 auto;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #3a3a3a;
}
.slider ul li a .item_desc{
    position: absolute;
    width: 192px;
    top: 158px;
    line-height: 32px;
    height: 32px;
    background: #f3f3f3;
    color: #777;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.slider ul li a .item_price{
    font-size: 14px;
    line-height: 21px;
    color: #d0021b;
}
.slider i{
    position: absolute;
    width: 36px;
    height: 72px;
    top: 60px;
    background: rgba(0,0,0,0.1);
    text-align: center;
    line-height: 72px;
    font-size: 30px;
    cursor: pointer;
}
.slider .forword{
    right: 6px;
    border-radius: 8px 0 0 8px;
}
.slider .back{
    display: none;
    left: 10px;
    border-radius: 0 8px 8px 0;
}
.slider i:hover{
    background: rgba(0,0,0,0.3);
}
.slider ul li a .item_top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.slider ul li a .item_top span{
    display: inline-block;
    padding: 0 9px;
    margin: 0 auto;
    height: 22px;
    line-height: 22px;
    color: #fff;
    border-radius: 0 0 6px 6px;
    background: #ff6a6e;
}
.household_banner{
    height: 250px;
    padding-top: 10px;
    margin-bottom: 8px;
    /* background: pink; */
}


.accessories_banner{
    height: 250px;
    padding-top: 10px;
    margin-bottom: 8px;
    /* background: pink; */
}

.life{
    height: 120px;
    margin-top: 27px;
    margin-bottom: 13px;
}
.life .life_box{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.life .life_box a{
    display: block;
    width: 100%;
    height: 100%;
}
.life .life_box a img{
    width: 100%;
    height: 100%;
}

.gift{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.gift .gift_box{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.gift .gift_box a{
    display: block;
    width: 100%;
    height: 100%;
}
.gift .gift_box a img{
    width: 100%;
    height: 100%;
}
